
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		<h1>Secure Page</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
		<h2>{{record.question}}</h2>
    <form action="/survey" method="post">
      <input type="radio" name="scale" value="1" required>
      <label for="1">Strongly Disagree</label><br>
      <input type="radio" name="scale" value="2">
      <label for="2">Disagree</label><br>
      <input type="radio" name="scale" value="3">
      <label for="3">Neither agree nor disagree</label><br>
      <input type="radio" name="scale" value="4">
      <label for="4">Agree</label><br>
      <input type="radio" name="scale" value="5">
      <label for="5">Strongly agree</label><br>
      <p><input type="submit" value="{{record.status}}"></p>
    </form>
		<p><a href="/">Home page</a></p>
		</main>
	</body>
</html>
